
/*
    Created on : 6 jul 2024, 17:51:57
    Author     : David
*/

.cabecera, 
.barra__inferior {
    color: var(--blanco);
    display: grid;
}

.cabecera {
    text-align: center;
    padding: 0.5rem;
    margin: 0 2rem;
    height: 7rem;
    border-bottom: 3px solid var(--blanco);
    grid-template:
        "general menu usuario";
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 800px) {
    .cabecera {
        padding: 1rem 0;
        height: 13.5rem;
        grid-template:
            "general usuario"
            "menu menu";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
}
.barra__inferior {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5rem;
    height: 3rem;
    background-color: #CCA500;
    
    p {
        margin: 0;
    }
}

.contenedor__inicio {
    grid-area: general;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contenedor__inicio--config {
    width: 5.5rem;
    transition: transform 0.7s ease;
    cursor: pointer;
}

.contenedor__inicio--config:hover {
    transform: rotate(-90deg);

    #svg-gear {
        fill: var(--secundario);
    }
}


.contenedor__menu {
    grid-area: menu;
    /*width: 5rem;*/
    /*background-color: aqua;*/
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 2rem;
}
@media (max-width: 800px) {
    .contenedor__menu {
        width: 100%;
        justify-content: space-between;
    }
}
.contenedor__menu i {
    color: var(--blanco) !important;
    font-size: 5rem;
    transition: transform 0.2s ease;
    
    &:hover {
        color: var(--secundario) !important;
        cursor: pointer;
        transform: scale(1.2);

    }
}


.contenedor__usuario {
    grid-area: usuario;
    justify-self: right;
    width: 5.8rem;
    background-color: var(--blanco);
    /* margin-left: auto; */
    border-radius: 4.5rem;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    padding-right: 0.4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    gap: 1rem;
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden;
    flex-direction: row-reverse;
    position: fixed;
    
    &:hover {
        width: 43.9rem;
    }
}


.imagen__usuario {
    display: inline-block;
    min-width: 5rem;
    max-width: 5rem;
    height: 5rem;
    border-radius: 70%;
    border: 3px solid var(--texto_principal);
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    position: relative;
    
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        transform: translate(-50%, -50%);
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}


.btn_user {
    display: inline-block;
    min-width: 5rem;
    max-width: 5rem;
    height: 5rem;
    transition: opacity 0.5s ease-in-out;
    border-radius: 70%;
    cursor: pointer;
    font-size: 3rem;
    border: 2px solid var(--texto_principal);
    
    &:hover {
        color: var(--secundario);
        border-color: var(--secundario);
        background-color: var(--blanco);
    }
}

.info_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 25rem;
    max-width: 7rem;
    height: 5rem;
    border-radius: 7rem;
    border: 2px solid var(--texto_principal);
    background-color: var(--fondo_secundario);
    overflow: hidden;
    text-overflow: ellipsis;
    
    p {
        margin: 0;
        color: var(--texto_principal);
    }
    
    #rolUser {
        font-weight: bold;
    }
}

