
/*
    Created on : 6 jul 2024, 17:51:57
    Author     : David
*/

.cabecera, .barra__inferior {
    padding: 1rem;
    color: var(--blanco);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10rem;
}

.cabecera {
    border-bottom: 3px solid var(--blanco);
}

.contenedor__inicio {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contenedor__inicio--config {
    width: 7rem;
    transition: transform 0.7s ease;
    cursor: pointer;
}

.contenedor__inicio--config:hover {
    transform: rotate(-90deg);

    #svg-gear {
        fill: var(--secundario);
    }
}


.contenedor__menu {
    /*width: 5rem;*/
    /*background-color: aqua;*/
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.contenedor__menu i {
    font-size: 6rem;
    transition: transform 0.2s ease;
}
.contenedor__menu i:hover {
    color: var(--secundario);
    cursor: pointer;
    transform: scale(1.2);

}

.contenedor__usuario {
    justify-self: right;
    width: 8rem;
    background-color: var(--blanco);
    /* margin-left: auto; */
    border-radius: 4.5rem;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 2rem;
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden;
    flex-direction: row-reverse;
    position: fixed;
}

.contenedor__usuario:hover {
    width: 46rem;
}

.imagen__usuario {
    display: inline-block;
    min-width: 70px;
    max-width: 70px;
    height: 70px;
    border-radius: 70%;
    border: 3px solid var(--texto_principal);
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    position: relative;
}
.imagen__usuario img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.btn_user {
    display: inline-block;
    min-width: 70px;
    max-width: 70px;
    height: 70px;
    transition: opacity 0.5s ease-in-out;
    border-radius: 70%;
    cursor: pointer;
    font-size: 5rem;
    border: 2px solid var(--texto_principal);
}
.btn_user:hover {
    /*background-color: var(--secundario);*/
    color: var(--secundario);
    border-color: var(--secundario);
    background-color: var(--blanco);
}
.info_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 18rem;
    max-width: 70px;
    height: 70px;
    border-radius: 7rem;
    border: 2px solid var(--texto_principal);
    background-color: var(--fondo_secundario);
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.info_user p {
    margin: 0;
    color: var(--texto_principal);
}

.contenedor__usuario .btn_prueba:not(:first-child) {
    opacity: 0;

}

.contenedor__usuario:hover .btn_prueba:not(:first-child) {
    opacity: 1;

}

#rolUser {
    font-weight: bold;
}