<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   version="6.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/WHERE_FIND_DATA</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>


<!-- Mapeo de las url referentes a la cuenta de administrador -->
    <servlet>
        <servlet-name>adminIdentidadListaUsuarios</servlet-name>
        <jsp-file>/App/web/admin/users.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminIdentidadListaUsuarios</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>

<!-- Mapeo de las url referentes a la cuenta de usuario -->
    <servlet>
        <servlet-name>identidadLogin</servlet-name>
        <jsp-file>/App/web/identidad/login.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>identidadLogin</servlet-name>
        <url-pattern>/account/login</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>identidadRegistrar</servlet-name>
        <jsp-file>/App/web/identidad/registrar.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>identidadRegistrar</servlet-name>
        <url-pattern>/account/registrar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>identidadModificar</servlet-name>
        <jsp-file>/App/web/identidad/modificarUsuario.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>identidadModificar</servlet-name>
        <url-pattern>/account/modificar</url-pattern>
    </servlet-mapping>


</web-app>
